<!DOCTYPE html>
<html>
<head>
	<!-- <title>TEAM APPS APAC</title> -->
	<!-- <link rel="stylesheet" type="text/css" href="style.css"> -->
	<link href="https://fonts.googleapis.com/css?family=Lobster|Montserrat" rel="stylesheet">
</head>
<body>
	<!-- <header>
		<nav>
			<h1>XYZ Corp.</h1>
			<ul id="navli">
				<li><a class="homeblack" href="index.html">HOME</a></li>
				<li><a class="homered" href="aboutus.html">ABOUT US</a></li>
				<li><a class="homeblack" href="contact.html">CONTACT</a></li>
				<li><a class="homeblack" href="elogin.html">LOG IN</a></li>
			</ul>
		</nav>
	</header> -->
	<div class="divider"></div>

	<p style="font-family: Montserrat ; text-align: center; font-size: 40px;font-weight: bold;">Group Members(TEAM APPS APAC)</p>

	<div style="float: left; width: 33%">

    	<p style="text-align: center;"><img src="assets/Ranu.jpeg" alt="Avatar" style="width:100px"></p>
    	<h2 style="text-align: center; font-family:Montserrat ">Ranu Kumari</h2>

	</div>

	<div style="float: left; width: 33%">

    	<p style="text-align: center;"><img src="assets/Kajol.jpeg" alt="Avatar" style="width:100px"></p>
    	<h2 style="text-align: center; font-family:Montserrat ">Kajol Pawar</h2>

	</div>

	<div style="float: left; width: 33%">

    	<p style="text-align: center;"><img src="assets/Rutuja.jpeg" alt="Avatar" style="width:100px"></p>
    	<h2 style="text-align: center; font-family:Montserrat ">Rutuja Jagtap</h2>

	</div>
	<div style="float: left; width: 33%">

    <p style="text-align: center;"><img src="assets/Palak.jpeg" alt="Avatar" style="width:100px"></p>
    <h2 style="text-align: center; font-family:Montserrat ">Palak Malik</h2>

</div>
<div style="float: left; width: 33%">

  <p style="text-align: center;"><img src="assets/Megha.jpeg" alt="Avatar" style="width:100px"></p>
  <h2 style="text-align: center; font-family:Montserrat ">Megha Argade</h2>

</div>
<div style="float: left; width: 33%">

  <p style="text-align: center;"><img src="assets/Sanyukta.jpeg" alt="Avatar" style="width:100px"></p>
  <h2 style="text-align: center; font-family:Montserrat ">Sanyukta Deshmukh</h2>

</div>
<div style="float: left; width: 33%" style="text-align: center">

  <p style="text-align: center;"><img src="assets/Amru.jpeg" alt="Avatar" style="width:100px"></p>
  <h2 style="text-align: center; font-family:Montserrat ">Amruthavarshini R G</h2>

</div>


</body>
</html>
