<div class="side-nav-content">

    <ul class="nav-list" [ngClass]="{'nav-list-open':sideNavStatus}">
        <li class="nav-list-item">
            <i class="fa-solid fa-house"></i>
          <span>
              <a routerLink="/home">Home</a>
          </span>
      </li>
      <li class="nav-list-item">
        <i class="fa-solid fa-circle-info"></i>
      <span>
          <a routerLink="/about">About Us</a>
      </span>
  </li>
  <li class="nav-list-item">
    <i class="fa-solid fa-phone"></i>
  <span>
      <a routerLink="/contact">Contact Us</a>
  </span>
</li>
    </ul>

</div>
