<!DOCTYPE html>

<html>
<head>
	<title>Employee Management System</title>
	<link href="https://fonts.googleapis.com/css?family=Lobster|Montserrat" rel="stylesheet">
	<!-- <link rel="stylesheet" type="text/css" href="styleindex.css"> -->
</head>
<body>
	<div class="divider"></div>
	<div id="divimg">

	</div>


	<img src="assets/hero-banner.png" style="float: left; margin-right: 100px; margin-left: 70px">


	<div style="margin-top: 175px">

		<h1 style="font-family: 'Lobster', cursive; font-weight: 200; font-size: 50px; margin-top: 50px; text-align: center;">Welcome to Employee Management System</h1>
	</div>


</body>
</html>
