.card{
  margin-top: 15px;
  border: 1px solid blue;
  width: 550px;
  padding: 45px;
  position: absolute;
  top: 50%;
  left: 100%;
  /* transform: translate(-50%,-50%); */
  background: #0077B6;
 border-radius: 10px;
}

.card h1,h6{
  color: #fff;
}

label{
  color: #fff;
}

